@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --color-primary: #FFCE00;
    --color-secondary: #8645FF;
    --color-nav: #878784;
    --color-dark: #131415;
    --color-nav-light: #a3a3a3;
   --color-base-primary: #d4d3d3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*, button, input{
    font-family: 'Roboto', sans-serif;
}
body{
    background: var(--color-base);
    
    overflow-x: hidden;
    position: relative;
}
.container{
    max-width: 100vw;
}

/*                                                 Estilizando o Header                                           */
.container header{
    background: var(--color-nav);

    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.container  header div{
    min-width: 20vw;

    display: flex;
    justify-content: center;
}
.container header div h1{
    color: var(--color-dark);
    text-transform: uppercase;
}
.container header nav{
    margin-right: 2rem;

    min-width: 10vw;

    display: flex;
    justify-content: space-between;
}
.container header nav a{
    font-size: 1.4rem;
    text-decoration: none;
    
    color: var(--color-dark);
    transition: 2s ease-in-out;

    padding: 1.3rem 4rem;

    text-align: center;
    border-radius: 1rem;
    
}
.container header nav > a{
    margin-right: 1rem;
}
.container header nav a:hover, header nav a:focus{
    background: var(--color-nav-light);
}
/*---------------------------------------------------------------------------------------------------------------*/
   
/*                                          Estilizando o Main                                             */
.container main{
    display: flex;
    justify-content: center;
}
.container main svg{
    width: 80vw;
    height: 80vh;
}
/*                                          Estilizando o Footer                                             */
.container footer{
    width: 100vw;
    height: 10vh;

    background: var(--color-nav);

    display: flex;
    justify-content: center;
}
.container footer .information{
    margin-top: 2.2rem;
}
.container footer .information p{
    font-size: 1.2rem;
}
/*                           Estilizando o popup                                 */
.popup-container{
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 10;

    background-color: rgba(0, 0, 0, 0.4);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-container > div {
    width: 65vw;
    height: 62vh;

    background: var(--color-nav);
    padding: 4rem;
    border-radius: 1rem;

    transition: 2s ease-out;
}
.popup-container header{
    padding: 2rem;
}
.popup-container header h1{
    text-transform: uppercase;
    line-height: 4rem;
}
.popup-container header hr{
    width: 103%;
    
}

.popup-container section {
    display: flex;
    justify-content: space-between;

    padding-left: 2rem;
   
}
.popup-container section ul{
    height: 100%;
    
}
.popup-container section ul li{
    list-style: none;
    line-height: 1.8rem;
}
.popup-container section ul li span{
    font-size: 1.1rem;
    font-weight: bolder;
}
.popup-container section ul li{
    margin-bottom: 1rem;
}
.popup-container section ul li:last-child{
    margin-bottom: 0;
}
.popup-container section aside{
    margin-left: 1.6rem;
}
.popup-container section aside img{
    width: 35rem;
    height: 20rem;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.popup-container footer{
   width: 100%;

   padding: 2rem 0;
}
.popup-container footer a{
    margin-left: 81%;

    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-dark);

    background: var(--color-primary);
    padding: 1.3rem 4rem;

    border-radius: 1rem;
}
.popup-container aside {
    top: 0;
    left: 0;
}

/* Estilizando o SVG */
.land{
    fill: var(--color-base-primary);
    transition: 1s ease-in-out;
}
.clickable:hover{
    fill: var(--color-primary);
    
}